<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Date</label>
    <div class="col-sm-10">
        <input type="date" class="form-control" [(ngModel)]="Date">
    </div>
    <label class="col-sm-2 col-form-label">Temperature</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" [(ngModel)]="Temperature" placeholder="0">
    </div>
    <label class="col-sm-2 col-form-label">Rain Amount</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" [(ngModel)]="RainAmount" placeholder="0">
    </div>
    <label class="col-sm-2 col-form-label">Wind Speed</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" [(ngModel)]="WindSpeed" placeholder="0">
    </div>
    <!-- <label class="col-sm-2 col-form-label">Place</label>
    <div class="col-sm-10">
        <input type="dropdown" class="form-control" [(ngModel)]="Place" placeholder="Place">
    </div> -->
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Place</label>
            </div>
            <select formControlName="placeform" class="custom-select" id="inputGroupSelect01">
            <option disabled selected value="0">Choose a Place</option>
            <option *ngFor="let Place of PlaceList" value={{Place.PlaceId}}>{{Place.Name}}</option>
            </select>
        </div>
    </form>
</div>

<button (click)="addWeatherReport()" *ngIf="w.WeatherId==0" class="btn btn-primary">Add</button>
<button (click)="updateWeatherReport()" *ngIf="w.WeatherId!=0" class="btn btn-primary">Update</button>