<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Name">
    </div>
</div>

<button (click)="addPlace()" *ngIf="w.PlaceId==0" class="btn btn-primary">Add</button>
<button (click)="updatePlace()" *ngIf="w.PlaceId!=0" class="btn btn-primary">Update</button>