<div class="container">
  <h3 class="d-flex justify-content-center">Weather Logger App</h3>
  <h5 class="d-flex justify-content-center">Sample Text</h5>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="weather" class="m-1 btn btn-light btn-outline-primary">Weather</button>
      </li>
      <li class="nav-item">
        <button routerLink="place" class="m-1 btn btn-light btn-outline-primary">Place</button>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>